<h1>Tacos!!!</h1>

<p>ЁЯМоЁЯМоЁЯМо</p>
<% fillings = ["carnitas", "al pastor", "pescado", "mooshroom", "cabeza"] %>

<p>We have <%= fillings.count %> tacos</p>

<ul>
<% for filling in fillings %>
<li><%= filling %> </li>
<% end %>
</ul>